# dependencies
node_modules/
.pnpm-store/

# builds & caches
dist/
.turbo/
*.tsbuildinfo

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# env files
.env
.env.*
!.env.example

# misc
.DS_Store
.idea/
.vscode/*
!.vscode/settings.json
*.swp
*.swo
